Package: dev.mineek.appstoretroller
Name: appstoretroller
Version: 0.1
Architecture: iphoneos-arm
Description: Modified version of mineeks tweak that lets you specify the minimum version and bypass installd version check
Maintainer: Mineek
Author: Mineek
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
