<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Enable the tweak, spoof your version to a REASONABLE version (or the app will likely crash after download), apply, and profit. DISCLAIMER: ENABLING THE UPDATE OPTION MIGHT MAKE YOUR DEVICE SHOW AN OBSURD AMOUNT OF UPDATES DEPENDING ON THE VERSION YOU SPOOFED TO.</string>
			<key>headerText</key>
			<string>AppStore Troller</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>defaults</key>
			<string>dev.mineek.appstoretroller.preferences</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>default</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>defaults</key>
			<string>dev.mineek.appstoretroller.preferences</string>
			<key>key</key>
			<string>updatesEnabled</string>
			<key>label</key>
			<string>Enabled for Updates (DISCLAIMER)</string>
			<key>default</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>key</key>
			<string>iOSVersion</string>
			<key>label</key>
			<string>iOS Version to Spoof</string>
			<key>defaults</key>
			<string>dev.mineek.appstoretroller.preferences</string>
		</dict>
	</array>
	<key>title</key>
	<string>AppStore Troller</string>
</dict>
</plist>
